* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body {
    background-color: rgb(210, 210, 210);

}

a:link {
    color: black;
    user-select: none;
    text-decoration: none;
}

a:visited {
    color: black;
    user-select: none;
    text-decoration: none;
}

h1 {
    color: wheat;
    margin: 10px;
}

h2 {    
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    text-transform:capitalize;
}

p {
    margin-bottom: 10px;

}

.list {
    cursor:pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    align-items: stretch;
    height: 100vh;   
}

.wrapper #row1 {
    background-color: lightslategray;
    padding: 10px;
    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
     -1px 1px 0 black,
      1px 1px 0 black;
}

.wrapper #row2 {
    display: flex;
    flex: 1 1 auto;
}

.wrapper #row2 #col1 {
    flex: 0 0 240px;
}

.wrapper #row2 #col2 {
    position: relative;
    flex: 1 1 auto;
    padding: 10px;
    margin-right: 250px;
}

.wrapper #row2 #divRotate {
    background-color: rgb(210, 210, 210);
    flex: 1 0 100%;
    padding: 10px;
    font-size: 22px;
    vertical-align: middle;
    justify-content:  center;
}

.menuitem { 
    position: relative;
    left: -10px;
    width: 80%;
    line-height: 30px;
    background-color: lightslategray;
    color: black;
    margin: 10px 5px 5px 0px;
    text-align: right;
    user-select: none;        
    text-transform: uppercase;
    font-weight: 300em;
    cursor: pointer;
    padding-right: 5px;
    box-shadow: 5px 5px 10px gray;
}

.menuitem:hover {
    width: 95%;
    margin: 10px 5px 5px 0px;
    background-color: lightsteelblue;
    transition: .2s;
    translate: width 10%;
}

#submenu {
    visibility: hidden;
    position: relative;
    left: 20px;
    top: 0px;
    width: 100%;
    height:fit-content;
    vertical-align: top;
    z-index: 1;
}   

img {
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 15px;
    border-radius: 25px;
}

#planeDiv {     
    position: relative;
    left: 25%;
    top: 25%;
    line-height: 200px;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;   
}

#planeDiv:hover {
    animation: rotate 3s;
    
}

@keyframes rotate {
    0% {
        rotate: 1 0 1 0deg;
    }
    50% {
        background-color: red;
    }
    100% {
        rotate: 1 0 1 360deg;
        background-color: blue;
      
    }

}

.colorcalc-body {
    background-image: linear-gradient(0deg,rgba(228, 225, 219, 1), rgb(253, 203, 103, 1));
    height: 100vh;

}

.colorcalc-UI {
    width: 400px;
    height: 300px;
    padding: 10px;
    
}

.colorcalc-result {
    width: 400px;
    padding: 10px;
}
    
.color-palette {
    display: flex;
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn-col {
    display: flex;
    flex: 1 1 100px;
    user-select: none;
    font-size: 16px;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 white,  
     1px -1px 0 white,
     -1px 1px 0 white,
      1px 1px 0 white; 
    justify-content: center;
    align-items: center;
    border-color: lightslategray;
}

.btn-col:hover {
    border-color: white;
}

#red {
    background-color: red;
}


#green {
    background-color: green;
}


#blue {
    background-color: blue;
}


#yellow {
    background-color: yellow;
}


#purple{
    background-color: purple;
}


#brown {
    background-color: brown;
}


#white {
    background-color: white;
}


#gray {
    background-color: gray;
}


#black {
    background-color: black;
}

#btn-eval {
    background-color: inherit;
    text-shadow:
    -1px -1px 0 white,  
     1px -1px 0 white,
     -1px 1px 0 white,
      1px 1px 0 white;
    width: 100%;
    height: 80px;   
    font-size: 16px;
    border-color: lightslategray;
}

#btn-eval:hover {
    border-color: white;
}

/******************************
 CSS Grid
*******************************/

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-3 {
    grid-column: span 3;
}

.grid-row-span-2 {
    grid-row: span 2;
}

.article-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.article-item {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 10px 15px 20px -10px gray;
}

.article-item:nth-child(1) {
    background-color: lightblue;
}

.article-item:nth-child(2) {
    background-color: lightgreen;
}
.article-item:nth-child(3) {
    background-color: lightpink;
}
.article-item:nth-child(4) {
    background-color: lightcoral;
}
.article-item:nth-child(5) {
    background-color: lightseagreen;
}
.article-item:nth-child(6) {
    background-color: lightyellow;
}



/******************************
 JS miniräknare
*******************************/

.calc-UI {
    border: darkcyan 3px solid;
    background: lightcyan;
    position: absolute;
    display: grid;
    gap: .5rem;
    grid-template-rows: 1fr 1fr;
    padding-block: .5rem;
    width: min(95%, 30rem);
    margin-inline: auto;
    height: 410px;
    width: 300px;   
    left: 10px;
    top: 130px;
    box-shadow: 5px 5px 5px -5px black; 
}

#calc-screen {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    border: lightslategray 1px solid;
    font-size:22px;
    margin: 5px;
    font-family:'Courier New', Courier, monospace;
}

.calc-buttons {
    display: grid;
    gap: .2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-block: .5rem;
    width: min(95%, 30rem);
    margin-inline: auto;
}

.calc-button {
    background-color: lightcyan;
    color: black;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size:18px;
    border-color: lightslategray;
}

.calc-button:hover {
    background-color: cyan;
    border-color: white;
}