*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family:'Gemunu Libre', sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 8rem;
}

h2,h3,h4,h5,h6 {
    font-family:'Gemunu Libre', sans-serif;
    font-weight: 400;
}

.subtitle{
    font-family:'Gemunu Libre', sans-serif;
    font-weight: 400;
    font-size: 2.7rem;    
    color: #fff;
}



.top-header {
    height: 400px;

    background-image: url("img/main.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}  


.container {
    width: 100%;
    height: auto;
    background: rgb(30, 30, 30);
    
}

.main_section {
    margin-block: 10rem;
    width: 80%;
   
    margin-inline: auto;
}

.drinks__bcaa {
    display: grid;
    grid-template-columns: repeat(4, auto);
    
    gap: 2rem;
    
}

img {
    width: 8rem;
    object-fit: cover;
    transition: all 250ms ease;
}

img:hover {
    cursor: pointer;
    scale: 1.1;
    filter: brightness(1.6);


    
}