* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Bungee Spice', cursive;
    text-shadow: 5px 5px 5px black;
    font-size: 5em;
}

.main-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #0929f3;
    color: white;
    list-style: none;
    font-family: 'Bungee Spice', cursive;

    font-size: 2em;

}

.link-item {
    width: 25%;
    text-align: center;
}

li:hover {
    display: block;
    cursor: pointer;
    background: white;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    
}

header {
    position: relative;
    text-align: center;
    /*background: linear-gradient(0deg, #0929f3, #fb500a);*/
   
    height: 70px;
    z-index: 2;
}

nav {
    position: sticky;
    top: 0;
    height: 50px;
    line-height: 50px;
}

.container {
    display: flex;

    height: 100%;
    background: whitesmoke;
}

.content {
    flex: 1 1 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.color-menu {
    flex: 0 0 100px;
    background: red;
    align-content: center;
    vertical-align: middle;
}

#color-wheel {
    position: fixed;
    top: 300px;
    left: 20px;
    background-color: black;
    z-index: 1;
    rotate: -15deg;
}

.wheel-bg {
    background-color: grey;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.wheel {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    clip: rect(0px, 100px, 200px, 0px);
}

.hold {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    clip: rect(0px, 200px, 200px, 100px);
}

#clr-slice1 .wheel {
    background-color: #f72508;
    rotate: 30deg;
}
#clr-slice2 .wheel {
    background-color: #fb500a;
    rotate: calc(2 * 30deg);
}
#clr-slice3 .wheel {
    background-color: #fa8d0b;
    rotate: calc(3 * 30deg);
}
#clr-slice4 .wheel {
    background-color: #cba007;
    rotate: calc(4 * 30deg);
}
#clr-slice5 .wheel {
    background-color: #fefc01;
    rotate: calc(5 * 30deg);
}
#clr-slice6 .wheel {
    background-color: #a8f909;
    rotate: calc(6 * 30deg);
}


/** Litet hack-lösning här att jag fyller halva cirkeln som är fylld och börjar om på nytt **/

#clr-slice7 {
    rotate: 180deg;
}

#clr-slice7 .wheel {
    background-color: #21d105;
    rotate: 30deg;
}

#clr-slice8 {
    rotate: 180deg;
}

#clr-slice8 .wheel {
    background-color:  #03bfc0;
    rotate: calc(2 * 30deg);
}

#clr-slice9 {
    rotate: 180deg;
}

#clr-slice9 .wheel {
    background-color:  #0929f3;
    rotate: calc(3 * 30deg);
}

#clr-slice10 {
    rotate: 180deg;
}

#clr-slice10 .wheel {
    background-color: #411acb;
    rotate: calc(4 * 30deg);
}

#clr-slice11 {
    rotate: 180deg;
}

#clr-slice11 .wheel {
    background-color: #8b26ab;
    rotate: calc(5 * 30deg);
}

#clr-slice12 {
    rotate: 180deg;
}

#clr-slice12 .wheel {
    background-color: #aa227a;
    rotate: calc(6 * 30deg);
}


/* länkar på färghjulet: */

#clr-slice1-link {
    position: absolute;
    left: 100px;
    top: 17px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

#clr-slice2-link {
    position: absolute;
    left: 130px;
    top: 35px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

#clr-slice3-link {
    position: absolute;
    left: 150px;
    top: 65px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

#clr-slice4-link {
    position: absolute;
    left: 150px;
    top: 100px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

#clr-slice5-link {
    position: absolute;
    left: 130px;
    top: 130px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

#clr-slice6-link {
    position: absolute;
    left: 100px;
    top: 145px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

#clr-slice7-link {
    position: absolute;
    left: 65px;
    top: 145px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

#clr-slice8-link {
    position: absolute;
    left: 35px;
    top: 130px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

#clr-slice9-link {
    position: absolute;
    left: 20px;
    top: 100px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

#clr-slice10-link {
    position: absolute;
    left: 20px;
    top: 65px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

#clr-slice11-link {
    position: absolute;
    left: 35px;
    top: 35px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

#clr-slice12-link {
    position: absolute;
    left: 65px;
    top: 20px;
    border-radius: 100px;
    height: 34px;
    width: 34px;
    z-index: 2;
}

/* Kurvad bakgrund för färgmenyn */

#curved-corner-bottomleft,
#curved-corner-topleft {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
#curved-corner-bottomleft:before,
#curved-corner-topleft:before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
}

#curved-corner-bottomleft:before {
    bottom: 0;
    left: 0;
    box-shadow: -50px 50px 0 0 green;
  }

#curved-corner-topleft:before {
    top: 0;
    left: 0;
    box-shadow: -50px -50px 0 0 green;
}

#circle-shape {
    position: fixed;
    top: 245px;
    left: 10px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: greenyellow;
    z-index: 0;
}