* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body {
    background-color: rgb(210, 210, 210);

}

a:link {
    color: black;
    user-select: none;
    text-decoration: none;
}

a:visited {
    color: black;
    user-select: none;
    text-decoration: none;
}

h1 {
    color: wheat;
    margin: 10px;
}

h2 {    
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    text-transform:capitalize;
}

p {
    margin-bottom: 10px;

}

.list {
    cursor:pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    align-items: stretch;
    height: 100vh;   
}

.wrapper #row1 {
    background-color: lightslategray;
    padding: 10px;
    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
     -1px 1px 0 black,
      1px 1px 0 black;
}

.wrapper #row2 {
    display: flex;
    flex: 1 1 auto;
}

.wrapper #row2 #col1 {
    flex: 0 0 240px;
}

.wrapper #row2 #col2 {
    position: relative;
    flex: 1 1 auto;
    padding: 10px;
    margin-right: 250px;
}

.menuitem { 
    position: relative;
    left: -10px;
    width: 80%;
    line-height: 30px;
    background-color: lightslategray;
    color: black;
    margin: 10px 5px 5px 0px;
    text-align: right;
    user-select: none;        
    text-transform: uppercase;
    font-weight: 300em;
    cursor: pointer;
    padding-right: 5px;
    box-shadow: 5px 5px 10px gray;
}

.menuitem:hover {
    width: 95%;
    margin: 10px 5px 5px 0px;
    background-color: lightsteelblue;
    transition: .2s;
    translate: width 10%;
}

#submenu {
    visibility: hidden;
    position: relative;
    left: 20px;
    top: 0px;
    width: 100%;
    height:fit-content;
    vertical-align: top;
    z-index: 1;
}   

img {
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 15px;
    border-radius: 25px;
}

