
/******************************
 CSS anim
*******************************/

#planeDiv {     
     line-height: 200px;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;   
}

 

#planeDiv:hover {
    animation: rotate 3s;
}



@keyframes rotate {
    0% {
        rotate: 1 0 1 0deg;
    }
    50% {
        background-color: red;
    }
    100% {
        rotate: 1 0 1 360deg;
        background-color: blue;
      
    }
}