*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Anek Devanagari', sans-serif;
    caret-color: transparent;
}

@font-face {
    font-family: "Dash";
    src: url(/fonts/Dashhorizon-eZ5wg.otf) format("opentype");
}

body {
    background: whitesmoke;
}

.logo {
    width: 80px;
    object-fit: cover;
    
}


.brand-name {
    font-family: 'Dash', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dash', sans-serif;
}

h2 {
    /* padding-block: 1rem .5rem; */
    text-transform: uppercase;
}

.top-header {
    width: 100%;
    /* background: hsl(180, 100%, 90%); */
    background: linear-gradient(to bottom, #2193b0, #6dd5ed, #6dd5ed, #2193b0);
    position: sticky;
    top:0;
}


nav {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.main-menu {
    display: grid;
    width: 60%;
    margin-inline: auto;
    grid-template-columns: repeat(2, auto) 1fr;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
}  

.main-menu__logo, .main-menu__brand {
    display: flex;
    align-items: center;
    height: 100%;
}

.content__aside-join {
    padding: 1rem;
    border: 2px solid #2193b0;
    background:  #6dd5ed;
}

footer {
    width: 100%;
    /* background: hsl(180, 100%, 90%); */
    background: linear-gradient(to bottom, #2193b0, #6dd5ed, #6dd5ed, #2193b0);
    height: 70px;
}

.footer {
    padding-top: 2rem;
    width: 60%;
    margin-inline: auto;    
}

.scrolled {
    background: red;
}

.primary-navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    height: 100%;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 60%;
    margin-inline: auto;
    min-height: 100vh;
}

.content__aside{
    display: flex;
    padding: 1rem;  
    flex-direction: column;
    position: sticky;
    top: 90px;
    z-index: -1;
  
}

a {
    text-decoration: none;
}

.link-item:link {
    font-family:'Dash', sans-serif;
    font-size: 2rem;
    color: darkred;
    font-weight: 100;
    
}

.link-item::after {
    content: '';
    display: block;
    position: relative;
    top: -10px;
    background: darkred;
    width: 0%;
    height: 2px;
    transition: all 250ms ease-in-out;

}

.link-item:hover::after {
    content: '';
    display: block;
    position: relative;
    top: -10px;
    background: red;
    width: 100%;
    height: 2px;
   

}

.link-item:visited {
    color: darkred;

}

.link-item:active {
    color: darkred;
}

.link-item:hover {
    color: red;
     
}

.grid-col-span-2 {
    grid-column: span 2;
}
