
/******************************
 JS Miniräknare
*******************************/

#calc-UI {
    border: darkcyan 3px solid;
    background: rgb(154, 243, 243);
    position: absolute;
    display: grid;
    gap: .5rem;
    grid-template-rows: 1fr 1fr;
    padding-block: .5rem;
    width: min(95%, 30rem);
    margin-inline: auto;
    height: 440px;
    width: 300px;   
    left: 30%;
    top: 30%;
    box-shadow: 5px 5px 7px rgb(57, 57, 57);
}

#calc-screen {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: lightcyan;
    border: lightslategray 1px solid;
    font-size:22px;
    margin: 5px;
    font-family:'Courier New', Courier, monospace;
    height: 55px;
}

.calc-buttons {
    display: grid;
    gap: .2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-block: .5rem;
    width: min(95%, 30rem);
    margin-inline: auto;
}

.calc-button {
    background-color: lightcyan;
    color: black;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size:20px;
    border-color: lightslategray;
}

.calc-button:hover {
    background-color: rgb(101, 246, 246);
    border-color: white;
}

.grid-col-span-2 {
    grid-column: span 2;
}
