/******************************
 CSS Färgblandare
*******************************/

.colorcalc-body {
    background-image: linear-gradient(0deg,rgba(228, 225, 219, 1), rgb(253, 203, 103, 1));
    height: 100vh;

}

.colorcalc-UI {
    width: 400px;
    height: 300px;
    padding: 10px;
    
}

.colorcalc-result {
    width: 400px;
    padding: 10px;
}
    
.color-palette {
    display: flex;
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn-col {
    display: flex;
    flex: 1 1 100px;
    user-select: none;
    font-size: 16px;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 white,  
     1px -1px 0 white,
     -1px 1px 0 white,
      1px 1px 0 white; 
    justify-content: center;
    align-items: center;
    border-color: lightslategray;
}

.btn-col:hover {
    border-color: white;
}

#red {
    background-color: red;
}


#green {
    background-color: green;
}


#blue {
    background-color: blue;
}


#yellow {
    background-color: yellow;
}


#purple{
    background-color: purple;
}


#brown {
    background-color: brown;
}


#white {
    background-color: white;
}


#gray {
    background-color: gray;
}


#black {
    background-color: black;
}

#btn-eval {
    background-color: inherit;
    text-shadow:
    -1px -1px 0 white,  
     1px -1px 0 white,
     -1px 1px 0 white,
      1px 1px 0 white;
    width: 100%;
    height: 80px;   
    font-size: 16px;
    border-color: lightslategray;
}

#btn-eval:hover {
    border-color: white;
}

