/******************************
 CSS Grid
*******************************/

.article-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-block: 1rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.article-item {
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 10px 15px 20px -10px gray;
    transition: .3s ease-in-out;
    z-index: 0;
}

.article-item:nth-child(1) {
    background-color: lightblue;
}

.article-item:nth-child(2) {
    background-color: lightgreen;
}
.article-item:nth-child(3) {
    background-color: lightpink;
}
.article-item:nth-child(4) {
    background-color: lightcoral;
}
.article-item:nth-child(5) {
    background-color: lightseagreen;
}
.article-item:nth-child(6) {
    background-color: lightyellow;
}

@media screen and (min-width: 868px) {
    .grid-col-span-2 {
        grid-column: span 2;
    }
    
    .grid-col-span-3 {
        grid-column: span 3;
    }
    
    .grid-row-span-2 {
        grid-row: span 2;
    }
    
    .article-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@supports (gap: 1.5rem) {
    .article-grid {
        gap: 1.5rem;
    }
}

@supports not (gap: 1.5rem) {
    .article-grid {
        margin: 1rem;
    }
}

@supports (scale: 1.05) {
    .article-item:hover {
        z-index: 1;
        scale: 1.05;
    }
}
