/******************************
 CSS history
*******************************/

/* global styling */

:root {
    --fg-clr-normal: #111;
    --fg-clr-text: #3a3a3a;
    --link-clr-normal: rgb(7, 78, 118);
    --link-clr-active: rgb(6, 106, 159);
    --link-clr-hover: rgb(0, 166, 255);
    --fg-clr-accent: rgb(0, 166, 255);
    --fg-clr-white: #fff;
    
    --bg-clr-header: #191654;
    --bg-clr-blue: rgb(208, 215, 253);
    --bg-clr-offwhite: whitesmoke;

    --line-clr-black: #111;

    --img-width-small: 150px;
    --img-width-medium: 300px;
    --img-width-full: 100%;

    --padding-tight: .4rem;
    --padding-normal: 2em;
    --padding-menu: 1rem;
    --padding-footer: 2rem;

    --ft-weight-400: 400;
    --ft-weight-700: 700;
}

*,
*::before,
*::after {                                            
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding: 6rem;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: var(--ft-weight-400);
    background: var(--bg-clr-offwhite);
}

header {
    width: 100%;
    background: var(--bg-clr-header);
}

.header-html {
    padding-top: 2rem;  
    background: none;
}

.header-dom {
    padding-top: 2rem;
    background: none;
   
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--bg-clr-blue);
}

.main-header {
    position: relative;
    margin: 0 auto;
    width: 60%;
    padding: var(--padding-normal);
    margin-inline: auto;
    
}

.primary-navigation  {
    width: 60%;
    padding-inline: var(--padding-menu);
    margin-inline: auto;
    margin-block: 0px;
}

.primary-navigation__links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    list-style: none;
    height: 66px;
}

.main-content {
    width: 60%;
    background: var(--bg-clr-offwhite);
    padding: var(--padding-normal);
    margin-inline: auto;
} 

.main-content__history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.main-content__dom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
}

.footer {
    background: var(--bg-clr-blue);
    padding: var(--padding-footer);
}

.grid-col-span-2 {
    grid-column: span 2;
}


/* image styling */

.inline-image {
    object-fit: cover;
}

.inline-image-small {
    width: var(--img-width-small);
}

.inline-image-medium {
    width: var(--img-width-medium);
}

.inline-image-full {
    width: var(--img-width-full);
}


/* text styling */

.header-caption {
    font-weight: var(--ft-weight-700);
    color: var(--fg-clr-white);
}

p {
    color: var(--fg-clr-text);
}

.normal-text {
    padding-top: var(--padding-normal);
}

.sub-title {
    background-color: var(--bg-clr-offwhite);
}

/* link styling */

a {
    text-decoration: none;
} 

.skip-link {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--fg-clr-black);
    background: orange;
    translate: 0 -100%;
    transition: translate 150ms ease-in-out;
    padding: .75rem;
    text-decoration: none;
}

.skip-link:hover,
.skip-link:focus {
    color: var(--fg-clr-normal);
    text-decoration: underline;
    translate: 0;
}

/* a:visited {
    color: var(--link-clr-normal);
}

li a:active {
    color: var(--link-clr-active);
     
}

a:hover {
    text-decoration: underline;
    color: var(--link-clr-hover);
    box-shadow: 0 10px 1px 10px red;
} */

.nav-link {
    color: var(--link-clr-normal)
}

.nav-link:visited {
    color: var(--link-clr-normal)
}

li .nav-link:active {
    background: var(--link-clr-active);
    color: var(--fg-clr-white);
    box-shadow: 
        0px -1px 1px 20px var(--link-clr-active),
        0px 1px 1px 20px var(--link-clr-active);
}

.nav-link:hover {
    background: var(--link-clr-hover);
    box-shadow: 
        0px -1px 1px 20px var(--link-clr-hover),
        0px 1px 1px 20px var(--link-clr-hover);
}

.footer-link {
    color: var(--link-clr-normal)
}

.footer-link:visited {
    color: var(--link-clr-normal)
}

.footer-link:active {
    color: var(--fg-clr-white)
}

.footer-link:hover {
    color: var(--fg-clr-accent);
}

/* .nav-link::after {
    content: '';
    position: relative;
    top: 16px;
    display: block;
    width: 100%x;
    height: 3px;
    background: none;
    
} */

/* 
.nav-link:hover::after {
    content: '';
    position: relative;
    top: 16px;
    display: block;
    width: 100%;
    height: 3px;
    background: red;
*/


/* animations 'n' stuff */

.fade-welcome-swe {
    color: var(--fg-clr-accent);
    font-size: 1.5rem;
    opacity: 1;
    animation: fade-swe 3s ease-in-out 3;
}
  
.fade-welcome-eng {
    position: absolute;
    font-size: 1.5rem;
    top: 32px;
    color: var(--fg-clr-accent);
    opacity: 0;
    animation: fade-eng 3s ease-in-out 3;
}

@keyframes fade-swe {
    0% {
      opacity: 1;
    }
  
    25%, 50%, 75% {
      opacity: 0;
    }  

    100% {
        opacity: 1;
    }
}

@keyframes fade-eng {
    0%, 25% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }  

    75%, 100% {
        opacity: 0;
    }
}


/* compability & responsiveness */

@media (max-width: 768px) {                              /*resolution is under 768 px - most cellphones */
    .screen-type-display {
        background-color: green;
    }
    .screen-type-display::before {
        content: 'cellphone mode activated';
        font-size: 1.5rem;
        color:white;
    }
}

@media (min-width: 768px) and (max-width: 1184px) {      /*resolution is at least 768 px - most tablets */
    .screen-type-display {
        background-color: red;
    }

    .screen-type-display::before {
        content: 'tablet mode activated';
        font-size: 1.5rem;
        color:white;
    }
}

@media (min-width: 1185px) {                               /*resolution is at least 1185 px */
    .screen-type-display {
        background-color: blue;
    }
    .screen-type-display::before {
        content: 'normal mode activated';
        font-size: 1.5rem;
        color: white;
    }
}