
nav {
    background: var(--bg-col-blue);
    transition: all 250ms ease;
    background: #2c3e50;
}

nav:hover {
    position: relative;
    box-shadow: 
    0px 5px 7px rgb(57, 57, 57),
    0px -1px 1px lightgray;
    background-image: linear-gradient(to right, #566671, #445669);
    top: -5px;
}

ul {
    list-style: none;
    display: flex;
    background: transparent;
}

ul li a,
ul li {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    background: transparent;
}

ul li {
    padding: 10px;
    color: var(--fg-col-normal);
    display: block;
    z-index: 1;
}

ul li a {
    padding: 10px 15px;
    color: var(--fg-col-normal);
    display: block;
    z-index: 1;
    /* white-space: nowrap; */
}

li a:hover {
    background-color: var(--bg-col-accent);
    color: var(--fg-col-normal);
}

ul li ul {
    background: var(--fg-col-dark);
    padding-left: 5px;
    position: absolute;
    display: none;
    width: 12em;
}

li ul li a {
    padding: 10px;
    background-color: var(--bg-col-blue);
    color: var(--fg-col-normal);
}

ul li a:hover {
    background-color: var(--bg-col-accent);
}

ul li ul li {
    position: relative;
}

ul li ul a {
    background: var(--bg-col-dark);
}

ul li ul li ul {
    position: absolute;
    top: 5px;
    left: 100%;
}

li:hover > ul,  
li:active > ul {
    display: block;
    z-index: 1;
    background-image: linear-gradient(to right, #566671, #445669);
    box-shadow: 5px 5px 7px rgb(57, 57, 57);
}

.dropdown {
    position: relative;
}

.dropdown > a,
.dropdown > a:hover,
.dropdown.active > a,
.dropdown.active > a:hover  {
    background: url("/img/arrowdown.png");
    background-position: right;
    background-repeat: no-repeat;
    color: var(--fg-col-normal);
}

.dropdown a:hover {
    background-color: var(--bg-col-accent);
    color: var(--fg-col-normal);
}

.dropdown ul li a:hover {
    background-color: var(--bg-col-accent);
    color: var(--fg-col-normal);
 }

span {
    font-weight:bold;
}


/*******************************
MOBILNAV
********************************/


.mobile-nav {
    background: wheat;
    color: var(--fg-col-black);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 10px;
    font-size: 16px;
}

.mobile-nav .nav-btn {
    cursor: pointer;
}

@media screen and (max-width: 868px) {
    .mobile-nav {
        display: flex;
    }

    ul.nav {
        visibility: hidden; 
        transform: translateY(-80%);
        top: 100px;
        opacity: 0;
        height: 0;
        transition: 0.3s ease-in-out;
        z-index: -1;
    }

    ul.nav.toggle {
        visibility: visible;
        transform: translateY(0%);
        height: auto;
        opacity: 1;
        z-index:1;
    }

    ul {
        flex-direction: column;
    }

    ul li {
        overflow: hidden;
        border: none;
    }

    ul li ul li {
        background: rgb(128, 127, 127);
        
    }


    ul li ul a {
        background-color: rgb(128, 127, 127);;
    }

    ul li ul li ul {
        background: rgb(128, 127, 127);;
       
    }

    ul li ul {
       position: relative;
       width: 90%;
       padding: 0 5%;
       transform: translateY(-100%);
       display: block;
       visibility: hidden;
       height: 0;
       overflow: hidden;
       transition: transform 400ms ease;
    }

    ul li ul li ul {
        position: initial;
        background: lightgray;
        top: 0;
        width: 96%;
        padding: 0 2%;
    }

    li:hover > ul,
    li:active > ul {
        display: block;
        z-index: 1;
    }
    
    li.active > ul {
        transform: translateY(0);
        visibility: visible;
        height: 100%;
    }

    .dropdown > a,
    .dropdown > a:hover,
    .dropdown.active > a,
    .dropdown.active > a:hover  {
        background-position: 95% 50%;
    }

    .dropdown a:hover {
        background-color: var(--bg-col-accent);
        color: var(--fg-col-normal);
    }

    #row2 img {
        width: 100%;
        margin: auto;
        object-fit: cover;
        float: none;
    }
}


@supports (position: sticky) {
    nav {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
