/******************************
 CSS main
*******************************/

/* global styling */

:root {
    --bg-clr-white: whitesmoke;
    --bg-clr-gray: lightslategray;
    --bg-clr-accent: #ccc3;
    --bg-clr-pane: #2980b9;
    --bg-clr-menu: #2c3e50;
    --bg-clr-menu-hover: linear-gradient(-45deg, #314457, #566671);
    --bg-clr-footer: linear-gradient(to top, #314457, #566671);
    --bg-clr-grayish: #3a3a3a;


    --fg-clr-dark: #555;
    --fg-clr-gray: #3a3a3a;
    --fg-clr-normal: #fff;
    --fg-clr-wheat: wheat;
    --fg-clr-black: #111;
    --fg-clr-hover: #0082c8;
    --fg-clr-rebecca: rebeccapurple;
}


/** skip link **/

.skip-link {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--fg-clr-black);
    background-color: var(--bg-clr-grayish);
    translate: 0 -100%;
    transition: translate 150ms ease-in-out;
    padding: .75rem;
    text-decoration: none;
}

.skip-link:hover,
.skip-link:focus {
    color: var(--fg-clr-normal);
    text-decoration: underline;
    translate: 0;
}


/** global styling **/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    caret-color: transparent;
}

::selection {
    background: var(--bg-clr-pane);
    color: var(--fg-clr-normal);
}

.container {
    background-color: var(--bg-clr-white); 
    width: 100%;
    height: 100%;
}

.main-header {
    margin: 0 auto;
    width: 100%;
}

.main-header .main-caption {
    position: relative;
    background: var(--bg-clr-pane);
    padding: .2em;
    z-index: 2;
}

.content {
    width: min(70%, 70.5rem);
    padding: 2rem 4rem;
    background-color: var(--bg-clr-white);
    height: auto;
    margin-inline: auto;
}

.footer-menu {
    display: flex;
    flex: 1;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    flex-wrap: nowrap;
}

.footer-section {
    height: 100%;
    padding: 1em;
    width: 100%;
    background: var(--bg-clr-menu);
}


/* image styling */

img {
    object-fit: cover;
}

.content .main-image {
    max-width: 90%;
}

.content .secondary-image {
    max-width: 50%;
    border-radius: 100%;
}


/* about page */

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: max-content;
}


/* link styling  */

.p-link {
    text-decoration: none;
    color: var(--fg-clr-dark);
}

.p-link:visited {
    color: var(--fg-clr-dark);
}

.p-link:hover {
    color: var(--fg-clr-black);
}

.normal-link {
    text-decoration: none;
    color: var(--bg-clr-gray);
}

.normal-link:visited {
    text-decoration: none;
    color: var(--bg-clr-gray);
}

.normal-link:hover,
.normal-link:focus {
    text-decoration: underline;
    color: var(--bg-clr-pane);
}

.footer-link {
    text-decoration: none;
    color: var(--fg-clr-wheat);

}

.footer-link:visited {
    text-decoration: none;
    color: var(--fg-clr-wheat);

}

.footer-link:hover,
.footer-link:focus {
    text-decoration: underline;
    color: var(--fg-clr-normal);
}


/** text styling **/

p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
    cursor: default;
}

.main-title {
    color: var(--fg-clr-wheat);
    text-shadow: 1px 1px 1px black;
    font-weight: 700;
    margin: 1rem;
    text-transform: uppercase;
}

.sub-title {
    margin: .5rem 0 1rem 0rem;
}

.plain-text {
    color: var(--fg-clr-gray);
}

.article-text {
    color: var(--fg-clr-black);
}

span {
    font-weight: 700;
}

.grid-col-center {
    text-align: center;
}

.footer-text {
    font-size: .7rem;
    color: var(--fg-clr-normal);
    text-align: right;
}


/** portfolio: enlarge images **/

.p-main {
    width: 100%;
}

#show-image {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    align-items:center;
    justify-content: center;
    z-index: 100;
}


/** compability/responsiveness **/

@media screen and (min-width: 768px) {                /*resolution is at least 768 px */
    .content {
        height: auto;
    }
    
    .p-flex-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 1rem;
    }

    .grid-col-span-2 {
        grid-column: span 2;
    }
    
    .grid-col-span-3 {
        grid-column: span 3;
    }
    
    .grid-row-span-2 {
        grid-row: span 2;
    }

    .article-grid {
        grid-template-columns: repeat(4, 1fr);
   }

   .p-grid {
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 2rem;  
    }  

    .p-sub-grid {
        border-block-start: .250rem solid;
        padding-block-start: .250rem;
        border-image-source: linear-gradient(90deg, lightslategray, lightslategray, whitesmoke);
        transition: all 250ms ease-in-out;
        border-image-slice: 1;
        
    }

    .p-sub-grid:hover {
        border-image-source: linear-gradient(90deg, #2980b9,#2980b9, whitesmoke);
    }
    
    .p-item-img {
        max-width: 100%;
        object-fit: cover;
        margin-right: 0;
        cursor: default;
    }

    .footer-grid {
        grid-template-columns: auto;
    } 
}

@media screen and (min-width: 1185px) {                         /*resolution is at least 1185 px */
    .p-flex-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: .1rem;
        width: 60%;
    }

    .p-sub-grid {
        display: grid;
        grid-template-columns: 90% 10%;
        gap: .1rem;
        height: 90px;
        border-top: .250rem solid;
        border-left: .250rem solid;
        padding-left: .75rem;
        padding-block-start: .250rem;
        border-image-source: linear-gradient(90deg, lightslategray,  whitesmoke);
        border-image-slice: 1;
        overflow: hidden;
        transition: all 250ms ease-in-out;
    }
    
    .p-sub-grid:hover {
        grid-template-columns: 80% 20%;
        padding-block-start: .250rem;
        border-image-source: linear-gradient(90deg, #2980b9,#2980b9, whitesmoke);
        background-image: linear-gradient(0deg, whitesmoke, #b3defb);
        background-blend-mode: lighten;
        height: 180px;
    }
    
    .p-item-img {
        width: 100%;
        cursor:zoom-in;
        object-fit:contain;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        gap: .1rem;
    }
}

@media screen and (max-width: 768px) {                              /*resolution is under 768 px - most cellphones */
    body {
        width: 100%;
        height: 100%;
    }
   
    .main-header {
        margin: 0 auto;
        width: 100%;
    }

    .p-flex-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 1rem;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: auto;
        background: var(--bg-clr-white);
        height: auto;
        padding: .250rem;
        margin: 0;
    }

    .p-item:nth-child(1) {
        padding-top: 1.5rem;
    }

    .p-item:not(:nth-child(1)):nth-child(2n) {
        padding-top: 2rem;
    }
    
    .p-item {
        padding-inline: 1rem;
    }

    .p-item > img {
        cursor: default;
    }

    .about-header, .grid-header {
        padding-top: 1.5rem;
    }

    .about-grid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: auto;
        background: none;
        height: 100%;
        margin-inline: 1rem;
        padding-inline: .75rem;
    }
    
    .content img {
        max-width: 100%;
        object-fit: cover;
        margin-right: 0;
    }

    .p-item-img {
        max-width: 100%;
        object-fit: cover;
        margin-right: 0;
        cursor: default;
    }

    .footer-menu {
        flex-direction: column;
        gap: .1rem;
    }

    .footer-grid {
        display:flex;
        flex: 1;
        flex-direction: column;
        gap: .1rem;
    } 
}

