* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(210, 210, 210);
    height: 100%;
    width: min(70%, 70.5rem);
    margin-inline: auto;
}

#container {
    margin: 0 auto;
    width: 100%;
}

#container #row1 {
    background-color: #3676E8;
    padding: 10px;
    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
     -1px 1px 0 black,
      1px 1px 0 black;
}

#content img {
    display: block;
    max-width: 100%;
    float: left;
    object-fit: cover;
    margin-right: 2rem;
}

#content {
    padding: 2rem 4rem;
    background-color: white;
    height: 100vh;
}

h1 {
    color: wheat;
    margin: 10px;
}

h2 {    
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

p {
    margin-bottom: 10px;
    background-color: inherit;
    color: inherit;
    cursor: default;
}

@media screen and (max-width: 868px) {
    body {
        width: 100%;
        height: 100%;
    }
   
    #container {
        margin: 0 auto;
        width: 100%;
    }
    
    #content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        width: auto;
        background-color: white;
        height: 100%;
        padding: 10px;
    }
    
    #content img {
        max-width: 100%;
        object-fit: cover;
        margin-right: 0;
    }
}

