* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(210, 210, 210);
    min-height: 100vh;
}

h1 {
    color: wheat;
    margin: 10px;
}

h2 {    
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

p {
    margin-bottom: 10px;
    background-color: inherit;
    color: inherit;
    cursor: default;

}

.project-item {
    display: inherit;
    background-color: inherit;
    font-style: inherit;
    color: inherit;
    width: inherit;
    list-style: square;
}

.project {
    display: inherit;
    background-color: inherit;
    font-style: inherit;
    color: inherit;
    width: inherit;
}

.list {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 75%;
    min-height: max-content;
}

.container #row1 {
    background-color: #3676E8;
    padding: 10px;
    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
     -1px 1px 0 black,
      1px 1px 0 black;

      
    height: 100%;
}

#row2 img {
    width: 300px;
    float: left;
    object-fit: cover;
    margin-right: 10px;
}

.container #row2 {
    background-color: white;
    padding: 10px;

}

#content {
    min-width: 50%;
    padding: 10px;
    background-color: white;
    height: 100vh;
}